.header{
    height: 55px;
    margin-bottom: 20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
.left-sect{
    display: flex;
}
.menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}

.utube-logo{
    height: 20px;
    width: 90px;
    cursor: pointer;

}
.middle-sect{
    flex: 1;
    margin-left: 60px;
    max-width: 470px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.search-bar{
    border-width: 0.8px;
    border-style: solid;
    border-color: rgb(204,204,204);
    font-family: Arial, Times New Roman;
    cursor: text;
    color: black;
    box-shadow: 0px 1px 2px 0px rgba(238, 238, 238) ;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 2px;
    height: 36.5px;
    font-weight: 400;
    font-size: 16px;
    width: 358px;
    width:0%;
    align-items: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px ;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0px;
}
.search-bar:focus {
    border-color: blue; /* Change border color when clicked */
    outline: none; /* Remove default focus outline */
    }
.searchlogo-container{
    background-color: rgb(247,247,247);
    border-width: 0.8px;
    border-left: 0px;
    border-style: solid;
    border-color: rgb(204,204,204);
    height: 40px;
    width: 64px;
    color: black;
    align-items: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: 400;
    justify-content: center;
    margin-right: 8px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-logo{
    margin-top: 4px;
    height: 24px;
    color: black;
    width: 24px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}
.microphone{
    background-color: rgb(248,248,248);
    padding-top:1px  ;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
}
.right-sect{
    width: 180px;
    display: flex;
    margin-left: 29px;
    margin-right: 24px;
    align-items: center;
    height: 32px;
    justify-content: space-between;
    width: 180px;
    flex-shrink:0;
}
.tool-container{
    height: 24px;
    width: 24px;
    justify-content: center; 
    cursor: pointer;  
}
.mychannel{
    height: 32px;
    width: 32px;
    cursor: pointer;
}


