
.subscribe-button{
    background-color: rgb(200, 0, 0);
    color: white;
    border-color:none; /*by default talkes black*/
    border: none;
    /*height: 35px;
    width: 90px;*/
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: opacity 1s;
}
.subscribe-button:hover{
    /*background-color: aqua;*/
    opacity: 0.7
}

.subscribe-button:active{
    /*background-color:blue;*/
    opacity:0.3
}





.join-button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 255);
    border-color:rgb(0, 0, 255); /*by default talkes black*/
    /*border: none;*/
    border-style: solid;
    border-width: 0.5px;
    height: 35px;
    width: 55px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
}
.join-button:hover{
    background-color:rgb(0, 0, 255); 
    color: rgb(255, 255, 255);
}
.join-button:active{
    opacity: 0.7
}




.Tweet-button{
    background-color: rgb(28, 139, 243);
    color: rgb(255, 255, 255);
    /*border-color:rgb(0, 0, 255);*/ /*by default talkes black*/
    border: none;
    /*border-style: solid;
    border-width: 0.5px;*/
    height: 35px;
    width: 75px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size:medium; /* 15px */
    margin-left: 10px;
    transition: box-shadow 1s;
}
.Tweet-button:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}






.request-button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /*border-color:rgb(0, 0, 255);*/ /*by default talkes black*/
    border: none;
    /*border-style: solid;
    border-width: 0.5px;*/
    /*height: 35px;
    width: 120px;*/
    cursor: pointer;
    margin-left: 10px;
    transition: opacity 1s;
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*vertical-align: bottom;*/
}
.request-button:hover{
    opacity: 0.7
}





.cart-button{
    background-color: rgb(242, 251, 71);
    color: rgb(0, 0, 0);
    /*border-color:rgb(0, 0, 255);*/ /*by default talkes black*/
    border: none;
    /*border-style: solid;
    border-width: 0.5px;*/
    /*height: 35px;
    width: 150px;*/
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 300;
    transition:  background-color 0.5s, opacity 0.5s;
}
.cart-button:hover{
    background-color: rgb(218, 226, 40);
}
.cart-button:active{
    opacity: 0.5;
}




.sign-button{
    background-color: rgb(12, 173, 1);
    color: rgb(255, 255, 255);
    /*border-color:rgb(0, 0, 255);*/ /*by default talkes black*/
    border: none;
    /*border-style: solid;
    border-width: 0.5px;*/
    /*height: 35px;
    width: 75px;*/
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size:medium; /* 15px */
    margin-left: 10px;
    transition: box-shadow 1s;
}
.sign-button:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}


.start-button{
    background-color: rgb(121, 82, 179);
    color: rgb(255, 255, 255);
    /*border-color:rgb(0, 0, 255);*/ /*by default talkes black*/
    border: none;
    /*border-style: solid;
    border-width: 0.5px;*/
    /*height: 35px;
    width: 120px;*/
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 1s;
}
.start-button:hover{
    background-color: rgb(95, 55, 155);
}
.download-button{
    background-color: rgb(255, 255, 255);
    color: rgb(108, 117, 125);
    border-color:rgb(108, 117, 125); /*by default talkes black*/
    /*border: none;*/
    border-style: solid;
    border-width: 0.5px;
    /*height: 35px;
    width: 120px;*/
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 1s, color 1s;
}
.download-button:hover{
    background-color: rgb(108, 117, 125);
    color: rgb(255, 255, 255)
}


.apply-button{
    background-color: rgb(10, 102, 194);
    color: rgb(255, 255, 255);
    /*border-color:rgb(0, 0, 255);*/ /*by default talkes black*/
    border: none;
    /*border-style: solid;
    border-width: 0.5px;*/
    /*height: 35px;
    width: 215px;*/
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 1s;
}
.apply-button:hover{
    background-color: rgb(11, 80, 150);
}
.save-button{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 102, 194);
    border-color:rgb(10, 102, 194); /*by default talkes black*/
    /*border: none;*/
    border-style: solid;
    border-width: 0.5px;
    /*height: 35px;
    width: 75px;*/
    padding-left : 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50px;
    font-weight: bold;
    transition: border-width 0.25s, background-color 0.25s;
}
.save-button:hover{
    background-color: rgb(131, 169, 240);
    border-width: 2px;
    /*opacity: 0.7*/
}



.link-styleing{
    color: rgb(0,113,133);
    transition: color 0.5s;
}
.link-styleing:hover{
    color:brown;
}
.Nike-alter{
    color:black;
    font-weight:bold;
    font-size:xx-large;
}
.instock{
    color:rgb(0, 118, 0);
    font-weight:bold;
    font-size:large;
}


.back-button{
    padding-left : 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.one-link{
    color:blueviolet;
    padding-left: 3px;
    padding-right: 3px;
}


.two-link{
    color:blueviolet;
    padding-left: 3px;
    padding-right: 3px;
}


.three-link{
    color:blueviolet;
    padding-left: 3px;
    padding-right: 3px;
}


.next-button{
    padding-left : 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 2px;
}


.stretch-button{
    padding-left : 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(29, 126, 27);
    color: white;
    font: size 18px;
    transition: padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    cursor: pointer;
}

.stretch-button:hover{
    padding-left : 27px;
    padding-right: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.shadow-button{
    padding-left : 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(29, 126, 27);
    color: white;
    font: size 18px;
    transition: padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    cursor: pointer;
}

.shadow-button:active{
    margin-left: 2px;
    margin-top: 2px;
}


.onee-button{
    padding-left : 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(29, 126, 27);
    color: white;
    font: size 18px;
    transition: padding-left 0.5s, padding-right 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.onee-button:hover{
    padding-left : 27px;
    padding-right: 27px;
    margin-left: 0px;
    margin-right: 0px;
}
